body
{
    background-color: black;
}
.newCl
{
    background-color:seashell;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    padding: 100px;
}
.msg
{
    color: red;
}